/* List addon table */

table.table-list-addon {
  border-collapse: separate;
}

table.table-list-addon thead {
  height: 60px;
}

table.table-list-addon tbody tr.item-table td.item-row:nth-child(1) {
  display: flex;
  flex-direction: row;
}

table.table-list-addon tbody tr.item-table td.item-row:nth-child(1) > div.first-data-container{
  display: flex;
  flex-direction: column;
  text-align: left;
}

table.table-list-addon tbody tr.item-table td.item-row:nth-child(4) button {
  width: 100%;
}

table.table-list-addon tbody tr.item-table td.item-row {
  text-align: center;
}
